executor: "CeleryExecutor"
# Default airflow tag to deploy
defaultAirflowTag: "3.1.5"
# Airflow version (Used to make some decisions based on Airflow Version being deployed)
airflowVersion: "3.1.5"
apiServer:
  service:
    type: LoadBalancer
webserver:   
  defaultUser:
    enabled: true
    username: airflow
    password: airflow
config:
  api:
    auth_backends: "airflow.api.auth.backend.basic_auth"

postgresql:
  enabled: false

data:
  metadataConnection:
    user: postgres
    pass: postgres
    protocol: postgresql
    host: postgres
    port: 5432
    db: airflow

dags:
  persistence:
    enabled: true
    existingClaim: public-datalake-dags-pvc
  gitSync:
    enabled: false

logs:
  persistence:
    enabled: true
    existingClaim: public-datalake-logs-pvc

extraEnv: |
  - name: PYTHONPATH
    value: /opt/airflow/dags
  - name: AIRFLOW_CONN_RAW_MINIO
    value: '{
        "conn_type": "Amazon Web Services",
        "login": "admin",
        "password": "password",
        "host": "public-datalake-minio",
        "port": 9000,
        "extra": {
            "aws_access_key_id": "admin",
            "aws_secret_access_key": "password",
            "endpoint_url": "http://public-datalake-minio:9000",
            "region_name": "us-east-1",
            "aws_allow_http": true,
            "verify": false
        }
    }'
  - name: AIRFLOW__CORE__ALLOWED_DESERIALIZATION_CLASSES
    value: 'airflow.* lib.domain.sources.model.SourceMeta lib.domain.sources.model.FileSpec'