executor: "CeleryExecutor"
# Default airflow tag to deploy
defaultAirflowTag: "3.1.5"
# Airflow version (Used to make some decisions based on Airflow Version being deployed)
airflowVersion: "3.1.5"
apiServer:
  service:
    type: LoadBalancer
webserver:   
  defaultUser:
    enabled: true
    username: airflow
    password: airflow
config:
  api:
    auth_backends: "airflow.api.auth.backend.basic_auth"

postgresql:
  enabled: false

data:
  metadataConnection:
    user: postgres
    pass: postgres
    protocol: postgresql
    host: postgres
    port: 5432
    db: airflow

dags:
  persistence:
    enabled: true
    existingClaim: public-datalake-dags-pvc
  gitSync:
    enabled: false

logs:
  persistence:
    enabled: true
    existingClaim: public-datalake-logs-pvc


extraEnv: |
  - name: AWS_REGION
    value: us-east-1
  - name: AWS_ACCESS_KEY_ID
    value: admin
  - name: AWS_SECRET_ACCESS_KEY
    value: password
  - name: AWS_ENDPOINT_URL
    value: "http://public-datalake-minio:9000"
  - name: PYTHONPATH
    value: /opt/airflow/dags

